body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #ffffff;
  color: #111;
}

/* Navbar */
.navbar {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  background: #fff;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}


.navbar nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #111;
  font-weight: 500;
}

.navbar nav a:hover {
  color: #0071e3;
}

/* Hero section */
.hero-about {
  text-align: center;
  padding: 80px 20px;
}

.hero-about img {
  width: 200px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.hero-about h1 {
  font-size: 40px;
  margin-top: 0;
}

.hero-about p {
  font-size: 22px;
  opacity: 0.7;
}

/* Features */
.info {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

.info h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.info p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 260px;
  padding: 20px;
  border-radius: 15px;
  background: #f4faff;
  text-align: center;
  font-size: 18px;
  border: 2px solid #d7f3ff;
}

.card:hover {
  background: #e8f8ff;
}

/* Mission */
.mission {
  text-align: center;
  padding: 40px 20px;
}

.mission h2 {
  font-size: 30px;
}

.mission p {
  font-size: 20px;
  margin-top: 10px;
}

/* Button */
.btn-center {
  text-align: center;
  padding: 50px;
}

.btn {
  background: #21bdf3;
  color: #fff;
  padding: 12px 28px;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  transition: 0.25s;
}

.btn:hover {
  background: #0a9fd0;
  transform: scale(1.05);
}
.mission {
  text-align: center;
  padding: 40px 20px;
}

.mission h2 {
  font-size: 30px;
}

.mission p {
  font-size: 20px;
  margin-top: 10px;
}

/* Mobile fix */
@media (max-width: 600px) {
  .hero-about h1 {
    font-size: 32px;
  }
  .card {
    width: 100%;
  }
}

